<div class="habib-container">
  <div class="habib-top-half" [ngStyle]="{ 'height' : screenHeight}">
    <div class="habib-topnav">
      <a href="#" class="logo"></a>
      <h5 class="Raleway">poweres by Spotify</h5>
    </div>
    <div class="habib-bottom-arrow-box"></div>

  </div>
  <div class="habib-bottom-half">
   <div class="habib-searchBox">
      <div class="habib-content-search">
        <app-search></app-search>
      </div>
   </div>
   <div class="habib-search-footer">
     <span>Designed by Geek label </span>
     <span>-</span>
     <span>Powered by spotify</span>
   </div>
  </div>

</div>
